@media all and (max-width: 1000px) {
  footer {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  .header-right {
    display: none;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .contents-wrapper {
    width: 100%;
  }
}
